@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  background: rgb(8, 10, 16);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(2, 22, 44);
  font-family: 'Hoves', sans-serif;
}

.spotlight {
  background-image: radial-gradient(600px at var(--x, 500px) var(--y, 100px),
      rgba(29, 110, 216, 0.15),
      transparent 80%)
}